<<<<<<< HEAD
*{
color: whitesmoke;
flex-direction: column;
}
body {
    background-color: tomato;
}

=======
{
color:rgb(43, 226, 226);
flex-direction: column;
}
;
>>>>>>> 94639307e68d5b20f049b4d3d0bc1c3266b92c54
.buttoncontainer{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;

<<<<<<< HEAD
}
.navigation {
    border-radius: 6px;
    background-color: teal;
    border-color:thistle;
    padding: 10px 30px 10px 30px;
}

=======
};
>>>>>>> 94639307e68d5b20f049b4d3d0bc1c3266b92c54

#logo {
    width: 19vw;
};


.chickenspots{
    widows: 300px;
    flex-direction: column;

};

.chickenphoto {

    widows: 300px;
}










.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

    .example_e:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
        }







