*{
color: whitesmoke;
flex-direction: column;
}
body {
    background-color: tomato;
}

.buttoncontainer{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;

}
.navigation {
    border-radius: 6px;
    background-color: teal;
    border-color:thistle;
    padding: 10px 30px 10px 30px;
}


#logo {
    width: 19vw;
}

.example_e {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 16px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

    .example_e:hover {
        color: #404040 !important;
        font-weight: 700 !important;
        letter-spacing: 3px;
        background: none;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
        }